h1{
    font-family: Arial;
}
p{
    font-family: monospace;
}

body{
    font-size: 12px;
}

#two{
    font-size: 2em;
}
p{
    font-style: oblique;
    font-weight: bold;
}
h1{
    text-align: center;
}
