.firstdiv{
    color: rgb(119, 119, 168);

}
.secondiv{
    color: rgb(185, 62, 62);
}
#singledout{
    color: rgb(110, 163, 110);
    text-decoration: line-through;
}
h2 + ul{
    border: 4px dotted rgb(32, 32, 30);
}
li a{
    color: brown;
}
li a[href = "www.npr.org"]{
    color: burlywood;
    border: 5px double gold;
}